// Body
$body-bg: #f8fafc;
$primary-color: #d80d07;
$blue-color: #71bed7;
$gray-color: #444;
$light-color:#fff;
$text-color:#5e5e5e;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;
