.diamonds-wrapper {
    .content {
        img {
            display: inline;
            aspect-ratio: 1/1;
        }
    }

    .diamond {
        .content {
            height: 360px;
        }

        &.diamond-sm .content {
            height: 195px;
        }
    }
}
body .body{
    line-height: 26px;
}

.preview-image-wrapper {
    .vgs__container {
        width: 100%;
        max-width: inherit;
        background-color: transparent;
        @media (min-width: 768px) {
            height: 75%;
        }
    }
}
